
<div
	role="region"
	class="more-ons-tags"
	data-trackable="mentions"
	aria-labelledby="my-ft-title">
	<div class="more-ons-tags__title">
		<h3 class="more-ons-tags__title-text">
			<i class="article__myft-logo"></i>
			<span class="n-util-visually-hidden">myFT</span>
		</h3>
	</div>
	<div class="n-content-tags__intro">
		<p>Follow the topics mentioned in this article</p>
	</div>
	<ul class="n-content-tags__list--myft">
		{{#each tags}}
		<li class="n-content-tag__list-item--with-follow">
			<a
				href="{{url}}"
				data-trackable="tag"
				class="n-content-tag n-content-tag--with-follow">{{name}}</a>
			{{#if @root.flags.myFtApi}}
			{{>next-myft-ui/templates/follow version='3' conceptId=id}}
			{{/if}}
		</li>
		{{/each}}
	</ul>
	<div class="n-content-tags__product-tour">
		<a
			href="/myft/product-tour"
			data-trackable="myFT-product-tour"
			class="n-content-tags__product-tour-link">Take a tour of <i>my</i>FT</a>
	</div>
</div>
