.follow-promo__container {
	@include nContentBox();
	border: 1px solid getColor('warm-3');
}

.follow-promo__title {
	@include nContentBoxTitle();
	margin-bottom: 0;
}

.follow-promo__title-text {
	@include nContentBoxTitleText();
	background-color: getColor('pink');
}

.follow-promo__content {
	margin-left: 16px;
	margin-right: 16px;
}

.follow-promo__content--center {
	text-align: center;
}

.follow-promo__content-text {
	margin-bottom: 16px;
	p {
		margin: 0;
	}
}

.follow-promo--article {
	padding-left: 0;
}
