.suggested-reads--number {
	counter-reset: articleIndex;
}

.suggested-reads__item {
	margin-bottom: 20px;
	padding: 0;
	position: relative;
	.suggested-reads--number & {
		padding-left: 20px;
		&:before {
			@include oTypographySans(m);
			color: getColor('pink-tint4');
			counter-increment: articleIndex;
			content: counter(articleIndex);
			position: absolute;
			left: 0;
		}
	}
}

.suggested-reads__container {
	border: 1px solid getColor('warm-3');
	position: relative;
	margin: 30px 0 20px;
	padding: 20px 20px 0;

	h3,
	h4 { margin: 0; }
}

.suggested-reads__title {
	@include oTypographySerifDisplayBold(m);
	position: absolute;
	top: -10px;
	left: 10px;
	display: inline-block;
	padding: 0 10px;
	background: getColor('pink');
	font-size: 18px;
	font-weight: 900;
}

.suggested-reads__subheading {
	@include oTypographySans(s);
	color: getColor('grey-tint5');
	border-bottom: 1px solid getColor('warm-3');
	margin-top: 0;
	padding-bottom: 10px;
}

.suggested-reads__item__headline {
	@include oTypographySerifDisplay(m);
}

.suggested-reads__item__headline--control {
	@include nLinksHeadline();
	color: getColor('grey-tint4');

}

.suggested-reads__item__headline--variant {

}

.suggested-reads__item__subheading {
	display: none;
	.suggested-reads--subhead & {
		@include oTypographySans(s);
		display: block;
		color: getColor('grey-tint5');
	}
}

.suggested-reads__item__topic {
	@include nLinksTopic();
	white-space: nowrap;
}
