.table-of-contents {
	margin: 30px 0;

	.article__body--toc & {
		@include oGridRespondTo(L) {
			display: none;
		}
	}
	.article__aside & {
		display: none;

		@include oGridRespondTo(L) {
			display: block;
		}
	}
}

.table-of-contents__title {
	@include oTypographySans(m);
	color: #f57323;
	background-color: oColorsGetPaletteColor('warm-2');
	margin: 0;
	padding: 3px 10px;
}

.table-of-contents__chapters {
	counter-reset: chapters;
	margin: 0;
	padding: 0;
	list-style: none;
}

.table-of-contents__chapter {
	@include oTypographySans(m);
	border-bottom: 3px solid oColorsGetPaletteColor('warm-2');
	color: oColorsGetPaletteColor('cold-2');
	margin-top: 10px;
	margin-left: 20px;
	padding-bottom: 10px;
	position: relative;
	@include oGridRespondTo(M) {
		@include oTypographySerifDisplayItalicSize(l);
	}

	&:before {
		@include oTypographySansSize(s);
		content: counter(chapters);
		counter-increment: chapters;
		position: absolute;
		top: 5px;
		left: -20px;
		margin-right: 20px;
		color: #f57323;
		@include oGridRespondTo(M) {
			@include oTypographySerifDisplayItalicSize(m);
			top: 3px;
		}
	}
	&:last-child {
		border-bottom: 0;
		padding-bottom: 0;
	}
}

.table-of-contents__link {
	border: 0;
	color: oColorsGetPaletteColor('cold-2');
	text-decoration: none;
}
